/* Variables */
$primary-color: #0265cf;
$background-color: #f2f2f7;
$border-color: #e5e5ea;
$font-color: #333;

.container {
  background-color: $background-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: $font-color;
}
