@import 'variables';

/* Person container */
.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: $background-color;
  color: rgb(63, 61, 61);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
  margin: 1rem;
  text-align: center;
}

/* Person image */
.person img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 2px solid $background-color;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Person name */
.person h2 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Person date of birth and death */
.person p {
  margin: 0.5rem 0 0;
  font-size: 1rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

svg {
  position: absolute;
}
