$primary-color: #0265cf;
$secondary-color: #0153ac;
$add-primary-color: #18a737;
$add-secondary-color: #159130;
$remove-primary-color: #ff4136;
$remove-secondary-color: #ff0000;
$background-color: #f2f2f7;
$border-color: #e5e5ea;
$font-color: #333;